.container {
	width: 100%;
	position: fixed;
	padding-bottom: calc(env(safe-area-inset-bottom) - 36px);
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	z-index: 99;
}

.container h2 {
	display: none;
	align-self: center;
	font-size: 18px;
	color: var(--ink-black);
}

@media all and (max-width: 820px) {
	.container {
		background: white;
		border-top: 1px solid rgb(0 0 0 /0.1);
		bottom: 0;
	}

	.container h2 {
		display: block;
	}
}

.navButton {
	height: 60px;
	width: 60px;
	padding: 0;
	background: none;
	outline: none;
	border: none;
	font-family: var(--serif), georgia, serif;
	font-size: 16px;
	font-style: italic;
	opacity: 0.4;
	transition: opacity 0.2s;
	cursor: pointer;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navButton:hover {
	opacity: 1;
}

.navButton:active {
	opacity: 1;
}

.navButton:disabled {
	opacity: 0.1;
	cursor: not-allowed;
}

.iconButton {
	color: inherit;
}

.iconButton svg {
	height: 28px;
	width: 28px;
}

.rightButtons {
	display: flex;
	align-items: center;
	gap: 0;
}

.playButton {
	font-size: 24px;
	width: 50px;
	opacity: 0.6;
}
