.container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: grid;
	grid-template-columns: 280px 1fr;
	/* Only animate if already in DOM */
	transition: left 0.2s ease-in, background 0.2s ease-in, opacity 0.2s;
	overflow: hidden;
}

.container[data-active="false"] {
	pointer-events: none;
	visibility: hidden;
}

.container[data-active="true"] {
	pointer-events: all;
	visibility: visible;
}

.bookList {
	padding: 60px 24px;
	overflow: scroll;
	height: 100%;
}

.dismiss {
	width: 100%;
	height: 100%;
}

.bookLink {
	opacity: 0.4;
	transition: opacity 0.2s;
	width: 100%;
	padding: 6px 0;
	font-size: 36px;
	font-weight: 300;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: inherit;
}

.bookLink:hover {
	opacity: 1;
}
