.container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	display: grid;
	grid-template-columns: 280px 1fr;
	/* Only animate if already in DOM */
	transition: left 0.2s ease-in, background 0.2s ease-in, opacity 0.2s;
	overflow: hidden;
}

.container[data-active="false"] {
	pointer-events: none;
	visibility: hidden;
}

.container[data-active="true"] {
	pointer-events: all;
	visibility: visible;
	/* Soft white-to-transparent gradient behind the contents list */
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 1) 0px,
		rgba(255, 255, 255, 0.95) 240px,
		rgba(255, 255, 255, 0.6) 360px,
		rgba(255, 255, 255, 0) 100%
	);
}

.bookList {
	padding: 60px 24px;
	overflow: scroll;
	height: 100%;
}

.randomButton {
	opacity: 0.5;
	transition: opacity 0.2s, transform 150ms ease;
	will-change: opacity, transform;
	width: 100%;
	padding: 6px 0;
	margin-bottom: 24px;
	font-size: 24px;
	font-weight: 300;
	cursor: pointer;
	display: block;
	color: inherit;
	background: none;
	border: none;
	text-align: left;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

.randomButton:hover,
.randomButton:active {
	opacity: 1;
	transform: scale(1.05);
}

.dismiss {
	width: 100%;
	height: 100%;
}

.bookLink {
	opacity: 0.5;
	transition: opacity 0.2s, transform 150ms ease;
	will-change: opacity, transform;
	width: 100%;
	padding: 6px 0;
	font-size: 36px;
	font-weight: 300;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: inherit;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
	background: none;
	border: none;
	text-align: left;
	font-family: inherit;
}
.bookLink:hover,
.bookLink:active {
	opacity: 1;
	transform: scale(1.05);
}
